<!-- Runner, needed to be able to run CI/CD model for Maven CLI -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SuiteForGoogle" verbose="1">
    <test name="TestForGoogle">
        <classes>
            <class name="Tests.SearchTests"></class>
        </classes>
    </test>
</suite>